h5, h6, body{
    font-family: 'Barlow Condensed', sans-serif;
}

h1, h2, h3, h4, a{
    font-family: 'Bellefair', serif;
}

.navbar-menu a, .navbar-menu a.active{
    color: white !important;
}

.navbar-menu a.active{
    border-bottom: 2px solid white;
}

.navbar-menu a:not(.menu-logo):hover{
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.50);
    
}

.navbar-toggler i{
    font-size: 28px;
    color: white;
}

body{
    color: white;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

/*body{
    padding-top: 8em;
}*/

/*----------------------------------*/
/*                                  */
/* STYLES: HOME                     */
/*                                  */
/*----------------------------------*/

#home h5{
    font-size: 28px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

#home h2{
    color: white;
    text-transform: uppercase;
    font-size: 150px;
    text-align: center;
}
    
#home p{
    color: #D0D6F9;
    margin-bottom: 2em;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.res-circle {
    /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
    width: 200px;
    border-radius: 50%;     
    background: #FFFFFF;
    line-height: 0;
    position: relative;
    margin: auto;
    transition: 300ms;
    -webkit-transition: 300ms;
    color: black;
  }

  .res-circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }  

  .res-circle:hover{
    box-shadow: 00x 0px 0px 31px rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 0px 0px 31px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 0px 31px rgba(255,255,255,0.5);
  }
  
  .circle-txt {    
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: 'Bellefair', serif;
  }

/*----------------------------------*/
/*                                  */
/* STYLES: DESTINATIONS             */
/*                                  */
/*----------------------------------*/
  

.destination-image{
    max-width: 300px;
    margin: auto;
    display: block;
}

#destination h5{
    margin-bottom: 2em;
}

#destination p{
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

#destination h6{
    color: #D0D6F9
}

#list-destinations{
    margin-top: 2em;
    margin-bottom: 2em;
}

#list-destinations button{
    color: #D0D6F9;
    text-decoration: none;
    text-transform: uppercase;
}

#list-destinations button:hover, #list-destinations button.active{
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
    box-shadow: none;
    border-radius: 0;
}

.crew-image{
    max-width: 350px;
    margin: auto;
    display: block;
}

#list-crew button{
    background-color: #979797;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

#list-crew button.active, #list-crew button:hover{
    background-color: white;
}

#crew h3{
    font-size: 32px;
    color:rgba(255, 255, 255, 0.50);
}

#crew h1{
    font-size: 56px;
    text-transform: uppercase;
}

#crew p{
    color: #D0D6F9;
    font-size: 18px;
    line-height: 32px;
}

#technology h6{
    color: #D0D6F9;
}

#technology section{
    text-align: center;
}

#technology p{
    color: #D0D6F9;
}

.list-technology{
    padding-top: 2em;
    padding-bottom: 1em;
}

.list-technology button {
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 2em;
    line-height: 0;
    color: white;
    border: 1px solid white;
    text-decoration: none;
}

.list-technology button.active, .list-technology button:hover {
    background-color: white;
    color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 2em;
    line-height: 0;
}
  
@media (max-width: 575px){
    body{        
        background-size: cover;
        background-attachment: fixed;
    }

    #home section{
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    #home{
        background-image: url('../assets/home/background-home-mobile.jpg');
    }

    #home h2{
        font-size: 80px;
    }

    #destination{
        background-image: url('../assets/destination/background-destination-mobile.jpg');
    }

    #destination section{
        text-align: center;
        padding-top: 6em;
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding-bottom: 2em;
    }

    #destination h2{
        font-size: 56px;
    }

    #crew{
        background-image: url('../assets/crew/background-crew-mobile.jpg');
    }

    #crew section{
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding-top: 2em;
    }

    #crew h1{
        font-size: 24px;
    }

    #crew h3{
        font-size: 16px;
    }

    #crew .crew-image{
        max-width: 200px;
    }

    #crew hr{
        margin-top: 0;
    }

    #technology{
        background-image: url('../assets/technology/background-technology-mobile.jpg');
    }

    #technology section{
        min-height: 100vh;
        display: flex;
        align-items: start;
        padding-top: 6em;
    }

    #technology h6{
        margin-top: 1em;
    }
    
}

@media (min-width: 576px) and (max-width: 991px){
    body{        
        background-size: cover;
        background-attachment: fixed;
    }

    section{
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    #home{
        background-image: url('../assets/home/background-home-tablet.jpg');
    }

    #destination{
        background-image: url('../assets/destination/background-destination-tablet.jpg');
    }

    #destination section{
        text-align: center;
        padding-top: 6em;
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding-bottom: 2em;
    }

    #destination h2{
        font-size: 80px;
    }

    #crew{
        background-image: url('../assets/crew/background-crew-tablet.jpg');
    }
    
    #crew section{
        min-height: 100vh;
        display: flex;
        align-items: end;
    }

    #crew .crew-image{
        margin-top: 5em;
    }

    .crew{
        text-align: center;
    }

    .crew h3{
        margin-top: 1em;
    }

    .crew p{
        margin-bottom: 3em;
    }

    #technology{
        background-image: url('../assets/technology/background-technology-tablet.jpg');
    }

    #technology section{
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding-top: 8em;
    }
    
}

@media (min-width: 992px){

    #home section{
        min-height: 100vh;
        display: flex;
        align-items: end;
    }

    #home{
        background-image: url('../assets/home/background-home-desktop.jpg');
    }

    #home section{
        padding-bottom: 2em;
    }    

    #home h5, #home h2, #home p{
        text-align: left;
    }

    #destination{
        background-image: url('../assets/destination/background-destination-desktop.jpg');
    }
    
    #destination section{
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    #destination h2{
        font-size: 100px;
    }

    #crew{
        background-image: url('../assets/crew/background-crew-desktop.jpg');
    }
    
    #crew section{
        min-height: 100vh;
        display: flex;
        align-items: end;
    }

    #technology{
        background-image: url('../assets/technology/background-technology-desktop.jpg');
    }
    
    #technology section{
        padding-top: 8em;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    #technology h5, #technology h6, #technology h3, #technology p{
        text-align: left;
    }

    #technology .technologies img{
        max-width: 400px;
        display: block;
        margin: auto;
    }

    .list-technology li{
        margin-bottom: 1em;
    }

}

@media (min-width: 576px){    
    .navbar-menu{    
        background: linear-gradient(to right, transparent 0%, transparent 50%, rgba(255, 255, 255, 0.34) 50%, rgba(255, 255, 255, 0.34) 100%);    
        background-position: center top, center bottom;
        background-repeat: no-repeat;
        margin-top: 2em;
        backdrop-filter: blur(16px);
    }
}

@media (max-width: 767px){
    .navbar-collapse .navbar-nav{
        width: 50%;
        padding-left: 1em;
        backdrop-filter: blur(16px);
        background-color: rgba(255, 255, 255, 0.04);
    }
}